main#page_content[name=nes] {
    background-color: $black;
    text-align: center;

    #nes_container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    @media (min-width: 576px) {
        #nes_container {
            max-width: 540px;
        }
    }

    @media (min-width: 768px) {
        #nes_container {
            max-width: 720px;
        }
    }

    @media (min-width: 992px) {
        #nes_container {
            max-width: 960px;
        }
    }

    @media (min-width: 1200px) {
        #nes_container {
            max-width: 1140px;
        }
    }

    #nes_menu {
        background-color: #fff;
        display: none; // temporary
        text-align: left;
    }

    #nes_screen {
        //border: 10px solid theme-color('branding');
    }

    //#nes_screen_container {
    //    display: flex;
    //    align-items: stretch;
    //    align-self: stretch;
    //    flex-flow: row;
    //}

    //#nes {
    //    align-items: stretch;
    //    display: flex;
    //    flex-flow: column;
    //
    //    #nes_menu {
    //        border-bottom: 1px solid #ddd;
    //        flex-basis: auto;
    //        flex-grow: 0;
    //        flex-shrink: 1;
    //        padding: 0 1rem;
    //    }
    //
    //    #nes_screen_container {
    //        flex-grow: 1;
    //        flex-shrink: 1;
    //        flex-basis: auto;
    //        text-align: center;
    //    }
    //}

}
