main#page_content[name=alphabetizer] {

    #avatar {
        display: none !important;
    }

    #alphabetization_options_fieldset {
        border-color: #888;
        box-shadow: 4px 4px 0 lighten(#888, 25%);
        max-width: 380px;
    }

    #input_fieldset, #output_fieldset {
        border-color: $branding-color !important;
        box-shadow: 4px 4px 0 lighten($branding-color, 25%);
        padding: 0.5rem;
        padding-top: 0;

        legend {
            background-color: #fff;
            font-weight: bold;
            padding: 0 2px;
            text-align: center;

            .dropdown-menu {
                border-color: #888;
                border-width: 2px !important;
                box-shadow: 4px 4px 0 lighten(#888, 25%);
            }
        }

        #alphabetizer_input {
            border: 0;
            font-family: $font-family-monospace;
            font-size: 14px;
            outline: 0;
            padding: 0;
        }

        #alphabetizer_output {
            font-family: $font-family-monospace;

            &:empty:before {
                color: #888;
                content: 'The alphabetized output will go here.';
            }
        }
    }

    .make_magic_happen_button {
        .make_magic_happen {
            white-space: nowrap;
        }
    }

    //textarea[name=alphabetizer_input] {
    //    font-size: 14px;
    //}

}
