main#page_content[name=writing] {

    #writing_title {
        color: darken(theme-color("branding"), 15%);
        //color: theme-color('branding');
        font-size: 40px !important;
        font-style: normal !important;
        font-weight: bold;
        letter-spacing: -2px;
        margin-bottom: 0.5rem;
    }

    #writing_details {

        border-bottom: 2px solid theme-color('branding');
        margin-bottom: 1.0rem;
        padding-bottom: 0.5rem;


        li {
            border-right: 2px solid #666;
            list-style: none;
            //margin-right: 0.5rem;
            padding: 1.0rem;
        }

        #writing_details_dates {
            color: #666;
            font-weight: bold;
            line-height: 1.2;
        }

        #writing_details_author {
            color: #3A86FF;
            font-weight: bold;
        }
    }



    //#writing_body {
    //    font-size: 18px;
    //    margin-bottom: 2rem;
    //
    //    table {
    //        border: 1px solid #ddd;
    //        color: #212529;
    //        margin-bottom: 1rem;
    //        //width: 100%;
    //        width: auto !important;
    //
    //        thead {
    //            border: 1px solid #454d55;
    //
    //            th {
    //                border-bottom: 2px solid #dee2e6;
    //                vertical-align: bottom;
    //
    //                color: #ffffff;
    //                background-color: #343a40;
    //                border-color: #454d55;
    //            }
    //        }
    //
    //        tbody {
    //            tr:hover {
    //                background-color: rgba(0, 0, 0, 0.075);
    //                color: #212529;
    //            }
    //        }
    //
    //        th, td {
    //            border-top: 1px solid #dee2e6;
    //            padding: 0.75rem;
    //            vertical-align: top;
    //        }
    //    }
    //}

}
