main#page_content[name=writing] {

    #writing_subheadings {
        height: 50px;
        list-style: none;
        //margin: 0;
        //margin-bottom: 2rem;
        margin: 0 0 0.5rem 0;
        padding: 0;

        li {
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: -1px;
            line-height: 50px;

            &.subheading_date {
                color: #666;
            }

            &.subheading_twitter {
                border-left: 2px solid #bbb;
                color: #3A86FF;
                margin-left: 1rem;
                padding-left: 1rem;
            }

            &.subheading_edit {
                border-left: 2px solid #bbb;
                color: #3A86FF;
                margin-left: 1rem;
                padding-left: 1rem;
            }
        }
    }

    #writing_heading {
        font-style: normal !important;
        margin-top: 0 !important;
    }

    #writing_body {
        font-size: 18px;
        margin-bottom: 2rem;

        table {
            border: 1px solid #ddd;
            color: #212529;
            margin-bottom: 1rem;
            //width: 100%;
            width: auto !important;

            thead {
                border: 1px solid #454d55;

                th {
                    border-bottom: 2px solid #dee2e6;
                    vertical-align: bottom;

                    color: #ffffff;
                    background-color: #343a40;
                    border-color: #454d55;
                }
            }

            tbody {
                tr:hover {
                    background-color: rgba(0, 0, 0, 0.075);
                    color: #212529;
                }
            }

            th, td {
                border-top: 1px solid #dee2e6;
                padding: 0.75rem;
                vertical-align: top;
            }
        }
    }

}
