main#page_content[name=writing] {

    #writings_list {
        list-style: none;
        margin: 1.5rem 0;
        padding: 0;

        li {
            .writing_date {
                font-size: 16px;
                font-weight: bold;
            }

            .writing_title {
                border-bottom: 2px solid #FB5607;
                color: #FB5607;
                font-size: 20px;
                text-decoration: none;

                &:hover {
                    border-bottom-color: #3A86FF;
                    color: #3A86FF;
                }
            }
        }
    }

    #writing_headings {
        height: 50px;
        list-style: none;
        //margin: 0;
        //margin-bottom: 2rem;
        margin: 0 0 2rem 0;
        padding: 0;

        li {
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: -1px;
            line-height: 50px;

            &.heading_date {
                color: #666;
            }

            &.heading_twitter {
                border-left: 2px solid #bbb;
                color: #3A86FF;
                margin-left: 1rem;
                padding-left: 1rem;
            }

            &.heading_edit {
                border-left: 2px solid #bbb;
                color: #3A86FF;
                margin-left: 1rem;
                padding-left: 1rem;
            }
        }
    }

    #writing_body {
        font-size: 18px;
        margin-bottom: 2rem;

        table {
            border: 1px solid #ddd;
            color: #212529;
            margin-bottom: 1rem;
            width: 100%;

            thead {
                border: 1px solid #454d55;

                th {
                    border-bottom: 2px solid #dee2e6;
                    vertical-align: bottom;

                    color: #ffffff;
                    background-color: #343a40;
                    border-color: #454d55;
                }
            }

            tbody {
                tr:hover {
                    background-color: rgba(0, 0, 0, 0.075);
                    color: #212529;
                }
            }

            th, td {
                border-top: 1px solid #dee2e6;
                padding: 0.75rem;
                vertical-align: top;
            }
        }
    }

}
