// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

// Variables:
@import 'variables';

// Bootstrap:
@import '~bootstrap/scss/bootstrap';

// Fontello:
@import "../fontello/css/fontello";
@import "../fontello/css/animation";

// Components:
@import "./Components/alerts";
@import "./Components/barrelroll";
@import "./Components/mirror";
@import "./Components/rotate";

//// Components (Old):
//@import "./Components/abc_checkbox";
//@import "./Components/alerts";
//@import "./Components/notifyjs";
//@import "./Components/textarea_code";

// Pages:
@import "./Pages/alphabetizer";
@import "./Pages/pgp";
@import "./Pages/welcome";
@import "./Pages/writing";
@import "./Pages/writing_edit";
@import "./Pages/writings";

//// Pages (Old):
//@import "./pages/about";
//@import "./pages/albums";
//@import "./pages/alphabetizer";
//@import "./pages/nes";
//@import "./pages/writing";
//@import "./pages/writing_edit";
//@import "./pages/writings";


// Styling to be used for input placeholders.
::placeholder {
    color: #888 !important;
    font-style: italic;
}
:focus::placeholder {
    font-style: normal !important;
}

::selection {
    // https://css-tricks.com/overriding-the-default-text-selection-color-with-css/
    //background-color: #b3d4fc; // Generic/Basic Light Blue
    //background-color: #ffb7b7; // Red
    //background-color: #a8d1ff; // Blue
    //background-color: #fff2a8; // Yellow
    //color: #fff;
    //text-shadow: none;

    background-color: hotpink;
    //color: hotpink;
}

html, html > body {
    background-color: #fff;
    box-sizing: border-box;
    color: #000;
    font-family: $font-family-sans-serif;
    min-height: 100vh;
    margin: 0;
}

html > body {
    //line-height: $line-height-base !important;
    //padding: 0;
    //position: relative;

    background-color: #fff;
    box-sizing: border-box;
    color: #000;
    font-family: $font-family-sans-serif;
    line-height: $line-height-base !important;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    // Avatar
    #avatar {
        opacity: .75;
        position: absolute;
        left: 1rem;
        //top: 1rem;
        top: 76px;
        transition: opacity 0.5s ease;
        z-index: 10;

        &:hover {
            opacity: 1;
        }

        // Makes the avatar shown.
        &.shown {
            display: block;
        }

        // Makes the avatar hidden.
        &.hidden {
            display: none;
        }

        img {
            border-radius: 50% !important;
            height: 50px;
            width: 50px;
        }
    }

    #app {
        display: flex;
        flex-flow: column;
        min-height: 100vh;

        header#header {
            flex-basis: auto;
            flex-grow: 0;
            flex-shrink: 1;

            #navbar {
                border-top: 4px solid $branding-color;
                border-bottom: 2px solid #444;

                .dropdown-menu {
                    border-color: #888;border-color: #888;
                    border-width: 2px !important;
                    box-shadow: 4px 4px 0 lighten(#888, 25%);
                }
            }

            $navbar_height: 54px;

            #hero_banner {
                background-color: #2c3429;
                background-image: url('./images/hollyweird.jpg');
                background-position: center center;
                background-size: cover;
                border-bottom: 4px solid gray;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 200px;
                text-align: center;

                h1 {
                    background-color: $branding-color;
                    color: #fff;
                    display: inline-block;
                    font-size: 46px;
                    font-weight: 700;
                    margin: 0;
                    padding: 0px 20px;
                }
            }
        }

        main#page_content {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: auto;

            display: flex;
            flex-flow: column;

            //position: relative;
            //text-shadow: 1px 1px #fff;

            .container, .container-fluid {
                //padding-bottom: 1rem !important;
                //padding-top: 1rem !important;
                //margin-bottom: 1rem !important;

                h1, h2, h3 {
                    font-style: italic;
                    font-weight: bold;
                    font-size: 44px;
                    //letter-spacing: -4px;
                    margin-top: 1rem;
                    margin-bottom: 2rem;
                }

                h1 {
                    font-size: 44px;
                    letter-spacing: -4px;
                }

                h2 {
                    font-size: 30px;
                    letter-spacing: -2px;
                }

                h3 {
                    font-size: 24px;
                    letter-spacing: 0px;
                }
            }
        }

        footer#footer {
            background-image: url('./images/dark_paths.png');
            border-top: 2px solid $branding-color;
            color: #fff;
            flex-basis: auto;
            flex-grow: 0;
            flex-shrink: 1;
            margin: 0;

            .footer_column {
                h6 {
                    color: #fff;
                    display: block;
                    font-size: 12px;
                    font-weight: 700;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                }

                a {
                    color: $white;
                    position: relative;

                    &:hover {
                        color: $branding-color;
                        top: -1px;
                    }
                }
            }

            .footer_copyright_column {
                color: #888;
                display: block;
                font-size: 14px;
                margin: 0;
                padding: 0;
                text-align: center;

                a {
                    color: #888;
                    display: inline-block;
                }

                .border-underlined {
                    border-bottom: 1px dotted #888;
                    display: inline-block;
                    text-decoration: none !important;

                    &:hover {
                        border-bottom: 1px solid #000;
                    }
                }
            }

            //background-color: #101c3d;
            //background-image: url('./images/dark_paths.png');
            //border-top: 2px solid gray;
            //bottom: 0;
            //color: #888;
            //font-size: 14px;
            //height: 60px;
            //left: 0;
            //position: absolute;
            //text-align: center;
            //width: 100%;

            //& > .container {
            //    margin: 20px auto 0 auto;
            //
            //    a {
            //        color: #fff;
            //
            //        &:hover {
            //            color: $primary;
            //        }
            //    }
            //}
        }

    }
}

// custom tabs styles/appearance over-riding from Bootstrap
.nav-tabs {
    border-bottom-width: 2px !important;

    .nav-item {
        margin-bottom: -2px !important;

        .nav-link {
            border-width: 2px !important;
            margin: 0 5px !important;

            &.active {
                background-color: #ffffff !important;
                border-color: #dee2e6 #dee2e6 #ffffff !important;
            }
        }
    }
}

// uniform way for all fieldsets to look
fieldset {
    background-color: #fff;
    border: 2px solid #ddd;
    margin-bottom: 1rem;
    padding: 1rem;

    legend {
        border-bottom: none;
        font-size: 15px;
        margin: 0;
        margin-bottom: 0px;
        margin-bottom: 0;
        padding: 0;
        width: auto;
    }
}

.small {
    font-size: 90%;
}

.smaller {
    font-size: 80%;
}

.smallest {
    font-size: 70%;
}

.big {
    font-size: 110%;
}

.bigger {
    font-size: 120%;
}

.biggest {
    font-size: 130%;
}

// Add an external link icon for links that are external
.external_link_arrow {
    //border-bottom: 1px dotted $primary;
    //text-decoration: none;
    //font-variant: small-caps;
    //font-weight: bold;

    &::after {
        content: "";
        width: 1em;
        height: 1em;
        //margin: 0 0.05em 0 0.25em;
        margin: 0 2px 0 2px;
        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij48cGF0aCBkPSJNOSAyTDkgMyAxMi4zIDMgNiA5LjMgNi43IDEwIDEzIDMuNyAxMyA3IDE0IDcgMTQgMlpNNCA0QzIuOSA0IDIgNC45IDIgNkwyIDEyQzIgMTMuMSAyLjkgMTQgNCAxNEwxMCAxNEMxMS4xIDE0IDEyIDEzLjEgMTIgMTJMMTIgNyAxMSA4IDExIDEyQzExIDEyLjYgMTAuNiAxMyAxMCAxM0w0IDEzQzMuNCAxMyAzIDEyLjYgMyAxMkwzIDZDMyA1LjQgMy40IDUgNCA1TDggNSA5IDRaIi8+PC9zdmc+) no-repeat;
        background-size: contain;
        display: inline-block;
        position: relative;
        top: -1px;
        vertical-align: text-bottom;
    }

    //&:hover {
    //    border-bottom: 1px solid $primary;
    //}
}

// the button container for when choosing a file (for file inputs)
.btn_file_container {
    cursor: pointer;
    overflow: hidden;
    //padding: 8px 10px;
    position: relative;
    vertical-align: top;

    > input[type=file] {
        bottom: 0;
        filter: alpha(opacity=0);
        font-size: 20px;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

// Modals styling
.modal-dialog {
    margin-top: 0px;

    .modal-content {
        border: 2px solid $branding-color !important;
        //border-radius: 0 !important;
    }

    //@media(min-width: 768px) {
    //    &.modal-xl {
    //        width: 90%;
    //        max-width: 1200px;
    //    }
    //}
}

// Put a border around the entire table, different from .table-bordered that puts borders around every cell
.table-border {
    border: 1px solid #ddd;

    .thead-dark {
        border: 1px solid #454d55;
    }
}

.cursor-pointer {
    cursor: pointer;
}
