// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

// variables:
@import 'variables';

// bootstrap:
@import '~bootstrap/scss/bootstrap';

// fontello:
@import "../fontello/css/fontello";
@import "../fontello/css/animation";

// components:
@import "components/abc_checkbox";
@import "components/barrel_roll";
@import "components/mirror";
@import "components/rotate";

// pages:
@import "pages/about";
@import "pages/alphabetizer";
@import "pages/nes";
@import "pages/writing";
@import "pages/writing_edit";
@import "pages/writings";

::selection {
    // https://css-tricks.com/overriding-the-default-text-selection-color-with-css/
    //background-color: #b3d4fc; // Generic/Basic Light Blue
    //background-color: #ffb7b7; // Red
    //background-color: #a8d1ff; // Blue
    //background-color: #fff2a8; // Yellow
    //color: #fff;
    //text-shadow: none;

    background-color: hotpink;
    //color: hotpink;
}

html, html > body {
    background-color: #fff;
    box-sizing: border-box;
    color: #000;
    font-family: $font-family-sans-serif;
    min-height: 100vh;
    margin: 0;
}

html > body {
    //line-height: $line-height-base !important;
    //padding: 0;
    //position: relative;

    background-color: #fff;
    box-sizing: border-box;
    color: #000;
    font-family: $font-family-sans-serif;
    line-height: $line-height-base !important;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    #app {
        display: flex;
        flex-flow: column;
        min-height: 100vh;

        header#header {
            flex-basis: auto;
            flex-grow: 0;
            flex-shrink: 1;

            #navbar {
                border-top: 4px solid theme-color("branding");
                border-bottom: 2px solid #444;
            }

            $navbar_height: 54px;

            #hollyweird_banner {
                background-color: #2c3429;
                background-image: url('./images/hollyweird.jpg');
                background-position: center center;
                background-size: cover;
                border-bottom: 4px solid gray;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 200px;
                text-align: center;

                h1 {
                    background-color: theme-color('branding');
                    color: #fff;
                    display: inline-block;
                    font-size: 46px;
                    font-weight: 700;
                    margin: 0;
                    padding: 0px 20px;
                }
            }
        }

        main#page_content {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: auto;
            position: relative;
            text-shadow: 1px 1px #fff;

            #avatar {
                opacity: .75;
                position: absolute;
                left: 1rem;
                top: 1rem;
                transition: opacity 0.5s ease;
                z-index: 10;

                &:hover {
                    opacity: 1;
                }

                img {
                    border-radius: 50% !important;
                    height: 50px;
                    width: 50px;
                }
            }

            .container, .container-fluid {
                padding-bottom: 1rem !important;
                padding-top: 1rem !important;
                margin-bottom: 1rem !important;

                h1 {
                    font-style: italic;
                    font-weight: bold;
                    font-size: 58px;
                    letter-spacing: -4px;
                    margin-top: 1rem;
                    margin-bottom: 2rem;
                }
            }
        }

        footer#footer {
            background-image: url('./images/dark_paths.png');
            border-top: 2px solid theme-color("branding");
            color: #fff;
            flex-basis: auto;
            flex-grow: 0;
            flex-shrink: 1;
            margin: 0;

            .footer_column {
                h6 {
                    color: #fff;
                    display: block;
                    font-size: 12px;
                    font-weight: 700;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                }

                a {
                    color: $white;
                    position: relative;

                    &:hover {
                        color: theme-color("branding");
                        top: -1px;
                    }
                }
            }

            .footer_copyright_column {
                color: #888;
                display: block;
                font-size: 14px;
                margin: 0;
                padding: 0;
                text-align: center;

                a {
                    color: #888;
                    display: inline-block;
                }

                .border-underlined {
                    border-bottom: 1px dotted #888;
                    display: inline-block;
                    text-decoration: none !important;

                    &:hover {
                        border-bottom: 1px solid #000;
                    }
                }
            }

            //background-color: #101c3d;
            //background-image: url('./images/dark_paths.png');
            //border-top: 2px solid gray;
            //bottom: 0;
            //color: #888;
            //font-size: 14px;
            //height: 60px;
            //left: 0;
            //position: absolute;
            //text-align: center;
            //width: 100%;

            //& > .container {
            //    margin: 20px auto 0 auto;
            //
            //    a {
            //        color: #fff;
            //
            //        &:hover {
            //            color: $primary;
            //        }
            //    }
            //}
        }

    }
}

// custom tabs styles/appearance over-riding from Bootstrap
.nav-tabs {
    border-bottom-width: 2px !important;

    .nav-item {
        margin-bottom: -2px !important;

        .nav-link {
            border-width: 2px !important;
            margin: 0 5px !important;

            &.active {
                background-color: #ffffff !important;
                border-color: #dee2e6 #dee2e6 #ffffff !important;
            }
        }
    }
}

// uniform way for all fieldsets to look
fieldset {
    background-color: #fff;
    border: 2px solid #ddd;
    margin-bottom: 1rem;
    padding: 1rem;

    legend {
        border-bottom: none;
        font-size: 15px;
        margin: 0;
        margin-bottom: 0px;
        margin-bottom: 0;
        padding: 0;
        width: auto;
    }
}

.small {
    font-size: 80%;
}

.smaller {
    font-size: 90%;
}

.big {
    font-size: 130%;
    letter-spacing: -0.5px;
}

.bigger {
    font-size: 115%;
}

// Add an external link icon for links that are external
.external_link_arrow {
    //border-bottom: 1px dotted theme-color('primary');
    //text-decoration: none;
    //font-variant: small-caps;
    //font-weight: bold;

    &::after {
        content: "";
        width: 1em;
        height: 1em;
        //margin: 0 0.05em 0 0.25em;
        margin: 0 2px 0 2px;
        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij48cGF0aCBkPSJNOSAyTDkgMyAxMi4zIDMgNiA5LjMgNi43IDEwIDEzIDMuNyAxMyA3IDE0IDcgMTQgMlpNNCA0QzIuOSA0IDIgNC45IDIgNkwyIDEyQzIgMTMuMSAyLjkgMTQgNCAxNEwxMCAxNEMxMS4xIDE0IDEyIDEzLjEgMTIgMTJMMTIgNyAxMSA4IDExIDEyQzExIDEyLjYgMTAuNiAxMyAxMCAxM0w0IDEzQzMuNCAxMyAzIDEyLjYgMyAxMkwzIDZDMyA1LjQgMy40IDUgNCA1TDggNSA5IDRaIi8+PC9zdmc+) no-repeat;
        background-size: contain;
        display: inline-block;
        position: relative;
        top: -1px;
        vertical-align: text-bottom;
    }

    //&:hover {
    //    border-bottom: 1px solid theme-color('primary');
    //}
}
