
.icon-plus:before { content: '\2699'; } /* '⚙' */
.icon-minus:before { content: '\26ef'; } /* '⛯' */
.icon-lock:before { content: '\2700'; } /* '✀' */
.icon-lock-open:before { content: '\2701'; } /* '✁' */
.icon-eye:before { content: '\2702'; } /* '✂' */
.icon-eye-off:before { content: '\2703'; } /* '✃' */
.icon-cog:before { content: '\e800'; } /* '' */
.icon-cog-alt:before { content: '\e801'; } /* '' */
.icon-off:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e809'; } /* '' */
.icon-warning:before { content: '\e80b'; } /* '' */
.icon-check:before { content: '\e80c'; } /* '' */
.icon-check-empty:before { content: '\e80d'; } /* '' */
.icon-home:before { content: '\e80e'; } /* '' */
.icon-success:before { content: '\e811'; } /* '' */
.icon-filter:before { content: '\e812'; } /* '' */
.icon-search:before { content: '\e818'; } /* '' */
.icon-binary:before { content: '\e81a'; } /* '' */
.icon-asterisk:before { content: '\e821'; } /* '' */
.icon-danger:before { content: '\e830'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-at:before { content: '\f1fa'; } /* '' */
